<!DOCTYPE html>
<html class="h-100">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <block name="title">
      <title>Title of Your Site</title>
    </block>
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body class="h-100">
    <main id="{{ pageId }}" class="container-fluid h-100">
      <block name="content"></block>
    </main>
    <block name="javascript">
      <script src="js/main.js" defer></script>
    </block>
  </body>
</html>
